.btn-hover-primary:hover{
    background-color: #593bdb;
    transition: all .2s ease-in-out;
    color: white;
}
.search{
    border: none;
    border-bottom: 1px solid black;
}
.text-field-shadow{
    border: 1px solid black;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    border: 0;
    padding: 7px;
    outline: none;
}
.or-text{
    position: relative;
    bottom: 30px;
    margin: 0 auto;
    background-color: white;
    width: 29px;
}
.logo-google-login{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
.btn-login-google{
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}
.btn-login-google:hover{
    background-color: rgba(0, 0, 0, 1);
    color: white;
}
.distance-em-p{
    width: 35px;
}



/* CSS untuk menghilangkan tombol spinner */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  /* Menghilangkan tampilan khusus pada Firefox */
  -moz-appearance: textfield;
}

.coment-fw{
    background-color: #EDEDED;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}
.coment-fw > p{
    padding: 15px;
}


.profile-img-user{
    position: relative; 
    top: 60px;
    margin-left: 100px;
}